<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/views/css/Style.css">
    <link rel="stylesheet" href="/views/resources/style.css">
</head>
<body>
    <div class="navbar">
        <a href="PaginaWeb.html">INICIO</a>
        <a href="nosotros.html">NOSOTROS</a>
        <a href="integrantes.html">INTEGRANTES</a> 
        <a href="centros.html">CENTROS DEPORTIVOS</a>
        <a href="graficos.html">VALORACIONES</a>
        <a href="inscripcion.html">INSCRIPCIÓN</a>
    </div>

    <div class="cuadro">
        <h1 class="subtitle">¿Quiénes somos? Conócenos</h1>

        <img src="/views/resources/logo E.V.A.jpeg" alt="Logo E.V.A">

        <p>
            <strong>E.V.A. (Entrenamiento Voluntario Activo)</strong> es una iniciativa que promueve el bienestar físico y mental a través del ejercicio, conectándote con los espacios deportivos más cercanos.
        </p>

        <div class="minicuadros">
            <div class="minicuadro">
                <p>Encuentra lugares cerca de ti</p>
            </div>
            <div class="minicuadro">
                <p>Mejora tu salud física y mental</p>
            </div>
            <div class="minicuadro">
                <p>Diviértete mientras te ejercitas</p>
            </div>
        </div>

        <a href="/views/html/PaginaWeb.html" class="button">Volver al Inicio</a>
    </div>
</body>
</html>

