<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/Style.css">
    <link rel="stylesheet" href="/views/resources/fondo3.png">
    <title>E.V.A</title>
</head>

<body>

    <div class="contenedor-pagina">
    <div class="navbar">
        <a href="PaginaWeb.html">INICIO</a>
        <a href="nosotros.html">NOSOTROS</a>
        <a href="integrantes.html">INTEGRANTES</a> 
        <a href="centros.html">CENTROS DEPORTIVOS</a>
        <a href="graficos.html">VALORACIONES</a>
        <a href="inscripcion.html">INSCRIPCIÓN</a>
    </div>

    <main class="contenido-principal">
        <h1 class="titulo25">Bienvenidos a E.V.A</h1>
        <a href="inscripcion.html" class="boton-registro">Registrarse ahora</a>

        <div class="tarjetas">
            <div class="bloque">
                <div class="tarjeta">
                    <h3>MISIÓN</h3>
                    <p>Promover un estilo de vida activo y saludable en niños, jóvenes, adolescentes y adultos, reduciendo el sedentarismo a través de una plataforma digital que brinda información personalizada sobre centros deportivos, escuelas, gimnasios y actividades físicas cercanas a su ubicación. Facilitamos el acceso autónomo y ágil al registro de estas opciones desde dispositivos móviles, fomentando así la participación activa y constante en el deporte.</p>
                </div>
                <img src="/views/resources/karate.jpeg" alt="izquierda" class="imageniz">
            </div>    

            <div class="bloque"> 
                <div class="tarjeta2">
                    <h3>VISIÓN</h3>
                    <p>Ser el punto de encuentro entre las personas y la actividad física, rompiendo las barreras del sedentarismo con una plataforma que transforma la manera en que se accede al deporte: rápida, intuitiva y al alcance de todos. Un espacio donde moverse, ejercitarse y cuidarse comienza con solo un clic desde cualquier dispositivo.</p>
                </div>
                <img src="/views/resources/chispun.jpg" alt="derecha" class="imagender">
            </div>
        </div>

        
        <div class="texto-objetivo">
            <p>
                Nuestro objetivo es ayudar a que la gente conozca más zonas donde poder mejorar su salud tanto física como mental por medio del ejercicio. Para ello proporcionamos nuestra idea de que por medio de un mapa localices los centros deportivos, escuelas deportivas, parques, gimnasios, etc., más cercanos a tu ubicación.
            </p>
        </div>
    </main>

    
    <footer class="footer">
        <div class="footer-content">
            <p>Contacto: kordhtx2305@gmail.com | Bogotá, Colombia</p>
            <p>© 2025 E.V.A - Todos los derechos reservados</p>
        </div>
    </footer>

    </div>

</body>
</html>

 <!--
    <div class="filtros">
        <div class="box">
            <label for="deportes"><strong>Deportes a inscribirse:</strong></label>
            <select name="deportes" id="deportes">
                <option value="futbol">Fútbol</option>
                <option value="beisbol">Béisbol</option>
                <option value="karate">Karate</option>
                <option value="natacion">Natación</option>
            </select>
        </div>

        <div class="box">
            <label for="tdocument"><strong>Tipo de documento:</strong></label>
            <select name="tdocum" id="tdocument">
                <option value="TI">TI</option>
                <option value="CC">CC</option>
                <option value="CE">CE</option>
                <option value="RC">RC</option>
            </select>
        </div>

        <div class="box">
            <label for="mdpago"><strong>Método de pago:</strong></label>
            <select name="mdpago" id="mdpago">
                <option value="PSE">PSE</option>
                <option value="Nequi">Nequi</option>
                <option value="Daviplata">Daviplata</option>
            </select>
        </div>
    </div>
-->